.borde { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
	background-color:rgb(255, 255, 255);
	width: 575px;
	height:842px;
	position:absolute;
}
.cabecera { 
	background-color:rgba(201.46274238824844, 243.31249594688416, 112.53203317523003, 1);
	width:576px;
	height:309px;
	position:absolute;
	left:0px;
	top:0px;
}

.cabecera_2 { 
	background-color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:307px;
	height:217px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.user_avat { 
	width:158px;
	height:152px;
	position:fixed;
	left:74px;
	top:14px;
	border-top-left-radius:76px;
	border-top-right-radius:76px;
	border-bottom-left-radius:76px;
	border-bottom-right-radius:76px;
	background-image:url(./curriculum_ismael/images/user_avatar_1.png);
	background-size:cover;
}
.nombre { 
	color:rgba(255, 255, 255, 1);
	width:278px;
	height:29px;
	position:fixed;
	left:19px;
	top:170px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.barra_2 { 
	border:5px solid rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
	width:545px;
	height:0px;
	position:fixed;
	left:25px;
	top:333px;
}

.barra_3 { 
	border:5px solid rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:512px;
	height:0px;
	position:fixed;
	left:25px;
	top:657px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}


.barra_vert { 
	border:5px solid rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:0px;
	height:912px;
	position:fixed;
	left:575px;
	top:5px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.barra_vert_2 { 
	border:10px solid rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:0px;
	height:300px;
	position:fixed;
	left:285px;
	top: 340px;

}

.barra_1 { 
	border:5px solid rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:559px;
	height:0px;
	position:fixed;
	left:11px;
	top:309px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}

.am { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:156px;
	height:29px;
	position:fixed;
	left:365px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:17.5;
}
.correo { 
	color:rgba(96.29437208175659, 74.94609162211418, 181.68749392032623, 1);
	width:220px;
	height:26px;
	position:fixed;
	left:64px;
	top:233px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:2.5;
}

.logo_mail { 
	width:38px;
	height:26px;
	position:fixed;
	left:11px;
	top:230px;
	background-image:url(./curriculum_ismael/images/logo_gmail_1.png);
	background-size:cover;
}
.logo_tel { 
	width:39px;
	height:39px;
	position:fixed;
	left:11px;
	top:259px;
	border-top-left-radius:112px;
	border-top-right-radius:112px;
	border-bottom-left-radius:112px;
	border-bottom-right-radius:112px;
	background-image:url(./curriculum_ismael/images/telefono_1.png);
	background-size:cover;
}
.telf { 
	color:rgba(96.29437208175659, 74.94609162211418, 181.68749392032623, 1);
	width:100px;
	height:19px;
	position:fixed;
	left:64px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:2.5;
}
.desc { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:236px;
	height:164px;
	position:fixed;
	left:325px;
	top:60px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:1.5;
}
.education { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:268px;
	height:240px;
	position:fixed;
	left:30px;
	top:394px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:1.5;
}
.experience { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:236px;
	height:177px;
	position:fixed;
	left:318px;
	top:413px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:1.5;
}
.skills { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:240px;
	height:115px;
	position:fixed;
	left:21px;
	top:727px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:1.5;
}
.skills_2 { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:240px;
	height:115px;
	position:fixed;
	left:320px;
	top:727px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:1.5;
}
.titul_educ { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:147px;
	height:29px;
	position:fixed;
	left:37px;
	top:347px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:17.5;
}
.titul_exp { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:164px;
	height:29px;
	position:fixed;
	left:357px;
	top:347px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:17.5;
}
.titul_skills { 
	color:rgba(54.18750151991844, 88.16623583436012, 95.625, 1);
	width:318px;
	height:29px;
	position:fixed;
	left:25px;
	top:673px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:17.5;
}
